<% if user_signed_in? %>
<!-- Show if user is signed in -->
	<h1>You are logged in.</h1>
<% else %>
<!-- Show if user is not signed in -->
	<div class="hero-unit">
		<h1>To Our House</h1>
		<p>
			Here is the home page for the <%= link_to "To Our House", "http://toourhouse.org" %> application.
		</p>
		<p>
			<%= link_to "Sign up now!", new_user_registration_path, class: 'btn btn-primary btn-large' %>
		</p>
	</div>
<% end %>