<h1>Our Organizations</h1>

<table class="table table-striped">
  <thead>
    <th>Image</th>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Country</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <%= render @organizations %>
  </tbody>

</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
